// Place all the styles related to the Projects controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container,
.panel {
  width: 55%;
  margin: auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.header {
  font-size: 3rem;
}

.completed {
  text-decoration: line-through;
  color: #888888;
}

.tasks p:hover {
  background-color: antiquewhite;
}

.task_name {
  font-size: 1.4em;
}

.edit,
.delete,
.move {
  font-size: 1.6rem;
}

.edit,
.move {
  margin-right: 0.7em;
}

.move:hover {
  cursor: move;
}

.controls {
  float: right;
  color: black;
}

.controls:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.field {
  width: 87%;
  height: 30px;
}

#add_project {
  text-align: center;
  margin-bottom: 10px;
}

#add_project a {
  color: white;
}

.new_project,
.edit_project,
.edit_task {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#new_project label {
  padding: 0;
}

.project_form {
  display: inline;
}

#project_name_field {
  margin-right: 10px;
  margin-left: 5px;
  padding: 0;
}

.edit_task_form label,
.edit_project_form label {
  padding: 0;
  width: 5%;
  margin-right: 10px;
}

.edit_task_form .btn input,
.edit_project_form .btn input {
  width: 25%;
}

.edit_task_name_field,
.edit_project_name_field {
  margin-right: 10px;
  margin-left: 5px;
  padding: 0;
  width: 71.5%;
  height: 30px;
}

.panel-default {
  margin-bottom: 0.85em !important;
}