// Place all the styles related to the Projects controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container,
.panel,
#add_list,
#new_project,
.edit_project {
  width: 55%;
  margin: auto;
}

.container h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.header {
  font-size: 2em;
}

.completed {
  text-decoration: line-through;
  color: #888888;
}

.tasks p:hover {
  background-color: antiquewhite;
}

.tasks p {
  font-size: 1.2em;
}

#edit,
#delete,
#move {
  color: black;
  font-size: 1.6rem;
}

#edit,
#move {
  margin-right: 0.7em;
}

#move:hover {
  cursor: move;
}

.controls {
  float: right;
}

.controls:hover {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.field {
  width: 83%;
}

.add_task {
  width: 15%;
  text-align: center;
}

#add_list,
#add_project,
.edit_project {
  text-align: center;
}

#add_list a:hover,
#add_project a:hover,
.edit_project a:hover {
  background-color: transparent;
  color: inherit;
}

.form {
  text-align: center;
}